*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
#app-calendar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.day{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px;
    border-radius: 7px;
    /* max-width: 130px; */
    min-height: 120px;
    padding: 10px;
    font-size: 20px;
}
.selected{
    background-color: #B3B0FF;
    /* border-color: green; */
    /* transition: .5s; */
}
/* .selected:hover{
    background-color: transparent;
    border-color: black;
} */
#main-comentario{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
}
#comment{
    display: flex;
    width: 300px;
    background-color: rgb(227, 227, 231);
    background-color: rgba(227, 227, 231, 0.8);
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.9);
}
#comment input{
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}